<div class="container" >
    <div class="col-12" *ngIf="!notificationsLoaded.ok" >
        nessuna nuova notifica
    </div>
    <div class="col-12" *ngIf="notificationsLoaded.ok">
        <div class="notifications" *ngFor="let notification of notifications">
            <div class="media" 
                [ngClass]="{notSeen: !notification.isSeen}"
                (click)="onNavigateToNotification(notification)">
                    <img [src]="transform(notification.imgProfileNotificator)" width="64px" height="64px" class="mr-3">
                    <div class="media-body">
                        <h5 class="mt-0 notification-type">{{notification.nicknameProfileNotificator}} {{notification.notificationView}}</h5>
                    </div>
            </div>
        </div>
    </div>
</div>