.alert-container{
    padding-top: 3em;
}

.alert-danger{
    margin:auto;
}

.alert-success{
  margin:auto;
}

.row{
    padding-top: 2em;
  }
  
  $bkBtnSize: 52px;
  .bk-btn {
    cursor: pointer;
    height: $bkBtnSize;
    width: $bkBtnSize;
    background-color: #E1306C;
    border-radius: 50%;
    .bk-btn-triangle {
      position: relative;
      top: $bkBtnSize*0.25;
      left: $bkBtnSize*0.2;
      width: 0; 
      height: 0; 
      border-top: $bkBtnSize*0.25 solid transparent;
      border-bottom: $bkBtnSize*0.25 solid transparent; 
      border-right: $bkBtnSize*0.25 solid white; 
    }
    .bk-btn-bar {
      position: relative;
      background-color: white;
      height: $bkBtnSize*0.15;
      width: $bkBtnSize*0.25;
      top: $bkBtnSize*-0.07;
      left: $bkBtnSize*0.44;
    }
}