<div class="sidebar">
    <div class="row1">
        <div class="sidebar-header">
            <div class="avatar-container">
                <img src="../../../../assets/images/no-propic.png" />
            </div>
            <div class="avatar-info">
                Momito.Boss
            </div>
            <div class="actions-container"></div>
        </div>
    
        <div class="search-box">
            <img width="20" src="../../../assets/images/search-icon.png">
            <input type="text" placeholder="Cerca o inizia nuova chat">
        </div>    
    </div>

    <div class="sidebar-content">
        <!--<div class="no-conversations">
            Non ci sono conversazioni.
        </div>-->


        <div 
            class="conversation" 
            *ngFor="let conversation of conversations"
            (click)="conversationClicked.emit(conversation)"
        >

            <div class="picture">
                <img src="../../../../assets/images/no-propic.png" />

            </div>

            <div class="content">
                <div class="conversation-header">
                    <div class="name">
                        {{conversation.name}}
                    </div>

                    <div class="time">{{conversation.time}}</div>
                </div>

                <div class="message">
                    {{conversation.latestMassege | slice: 0:20}}
                </div>
            </div>

        </div>
    </div>

</div>