<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <h3 class="text-center">aggiungi url immagine</h3>
                <input 
                        type="text"
                        class="form-control"
                        name="urlImg"
                        placeholder="url..."
                        ngModel
                        required>
                <h3 class="text-center">aggiungi una descrizione</h3>
                <input
                        type="text"
                        class="form-control"
                        name="descrizione"
                        placeholder="descrizione..."
                        ngModel
                        required>
                
                <button
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="!f.valid">
                    aggiungi
                </button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>