<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">



                <h3 class="text-center">aggiungi foto:</h3>
                    <div class="custom-file mb-2">
                        <input 
                            type="file"
                            class="custom-file-input"
                            name="post-img"
                            id="customFile"
                            #fileInput
                            (change)="onFileChanged($event)"
                            required
                            >
                        <label 
                            class="custom-file-label"
                            for="customFile"
                            (click)="fileInput.click()">
                            Scegli file 
                        </label>
                    </div>
                    <h3 class="text-center">aggiungi una descrizione</h3>
                    <input
                            type="text"
                            class="form-control"
                            name="descrizione"
                            placeholder="descrizione..."
                            [(ngModel)]="descrizione"
                            required>
                    
                    <button 
                            class="btn btn-primary"
                            (click)="onUpload()">Carica il post
                    </button>
    

        </div>
        <div class="col-3"></div>
    </div>
</div>