<div class="chat-container">
    <app-sidebar (conversationClicked)="onConversationSelected($event)"></app-sidebar>
    <div class="chat">
        
        <div class="chat-placeholder" *ngIf="!conversation">
            <h2>Nessuna conversazione selezionata</h2>
            <p>indianGram ti permette di messaggiare con altre persone. Ricordati di <br> mantenere un comportamento corretto e rispettoso.</p>
        </div>

        <app-chat-content 
        [conversation]="conversation"
        *ngIf="conversation"></app-chat-content>
    </div>
</div>