.chat-container{
    position: fixed;

    margin: auto;
    height: 100%;
    background-color: gray;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    .sidebar{
        flex-basis: 30%;
        border-right: 1px solid black;
    }
}