.chat-container{
    position: fixed;
    margin: auto;
    height: 100%;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;


    app-sidebar{ // --> quando faccio il refactor sposto il flex-basis qui
        flex-basis: 30%;
        display: block;
        height: 100%;
    }

}