<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="loading" *ngIf="loadingProfile">loading...</div>
            <form *ngIf="!loadingProfile" (ngSubmit)="onChangeGeneralData()" #f="ngForm">
                <h3>Nickname:</h3>
                <input 
                        type="text"
                        class="form-control"
                        name="nickname"
                        [(ngModel)]="profile.nickname">
                <h3>Nome:</h3>
                <input 
                        type="text"
                        class="form-control"
                        name="nome"
                        [(ngModel)]="profile.nome">
                <h3>Biografia:</h3>
                <input 
                        type="text" 
                        class="form-control"
                        name="biografia"
                        [(ngModel)]="profile.biografia">
                <h3>Propic:</h3>
                <input 
                        type="text" 
                        class="form-control"
                        name="proPic"
                        [(ngModel)]="profile.proPic">
                <button 
                        type="submit"
                        class="btn btn-primary">
                    modifica
                </button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
    <!-- 
        eventualmente, cambio email e password
    -->
    <hr>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="alert alert-danger" role="alert"
                    *ngIf="emailChangeSubmitted &&
                    !emailChangeSuccess">
                    password sbagliata!
            </div>

            <div class="alert alert-success" role="alert" *ngIf="emailChangeSuccess">
                Email cambiata con successo
            </div>

            <form [formGroup]="emailForm" (ngSubmit)="onChangeMail()">
                <h3>email:</h3>
                <input 
                        type="text"
                        id="email"
                        formControlName="email"
                        class="form-control">
                <h3>password:</h3>
                <input
                        type="password"
                        id="password1"
                        formControlName="password"
                        class="form-control">
                <h3>confirm password:</h3>
                <input
                        type="password"
                        id="password-confirm1"
                        formControlName="confirm"
                        class="form-control">
                <button
                        type="submit"
                        class="btn btn-primary">
                        cambia mail
                </button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>

    <hr>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">

            <div class="alert alert-danger" role="alert"
            *ngIf="!passwordChangeSuccess && passwordChangeSubmitted">
            password sbagliata!
            </div>

            <div class="alert alert-success" role="alert"
                *ngIf="passwordChangeSuccess && passwordChangeSubmitted">
                Password modificata con successo.
            </div>

            
            <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
                <h3>vecchia password:</h3>
                <input 
                        type="password"
                        id="old"
                        formControlName="old"
                        class="form-control">
                <h3>nuova password:</h3>
                <input 
                        type="password"
                        id="new"
                        formControlName="new"
                        class="form-control">
                <h3>conferma password:</h3>
                <input 
                        type="password"
                        id="confirm"
                        formControlName="confirm"
                        class="form-control">
                <button 
                        
                        type="submit"
                        class="btn btn-primary">
                    cambia password
                </button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>