<div class="container">

    <div class="row" *ngIf="!errorReset && formSubmitted">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="alert alert-success" role="alert">
                password resettata con successo!
            </div>              
        </div>
        <div class="col-3"></div>
    </div>
    
    <div class="row" *ngIf="errorReset && formSubmitted">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="alert alert-danger" role="alert">
                non è stato trovato nessun profilo associato a questa email.
            </div>
        </div>
        <div class="col-3"></div>
    </div>


    <div class="row">
        <div class="col-3">
            <div class="bk-btn" (click)="onNavigate()"><div class="bk-btn-triangle"></div><div class="bk-btn-bar"></div></div>
        </div>
        <div class="col-6">
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <h2 class="text-center" style="color: #E1306C;">email</h2>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-user"></span>
                            </span>
                        </div>
                        <input 
                                type="email"
                                class="form-control"
                                name="email"
                                placeholder="Email"
                                ngModel
                                required>
                    </div>
                </div>

                <div class="form-group">
                    <button
                            type="submit"
                            class="btn btn-primary login-btn btn-block"
                            style="background-color: #E1306C;"
                            [disabled]="!f.valid">
                        Reset password
                    </button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>