<div class="container-chat-area">
    <div class="header-chat">
        <div class="avatar-section">
            <div class="avatar-picture">
                <img [src]="transform(conversation.secondProfile.proPic)">
            </div>
            <div class="avatar-name">
                {{conversation.secondProfile.nickname}}
            </div>
        </div>
    </div>
    <div class="body-chat">


        <div 
            class="message"
            *ngFor="let message of conversation.messages"
            [ngClass]="{me: message.idProfileSender === user.id}">

            <div class="message-content">
                {{message.message}}
                <div class="time">
                    {{message.date | date: 'short'}}
                </div>
            </div>

        </div>

    </div>

    <div id="footer-chat-area">
        <div id="input-area">
            <textarea (keyup.enter)="onSubmitMessage($event)">
            </textarea>
        </div>
        <div class="send-icon">
            <img src="../../../../assets/images/chatIcon.svg">
        </div>
    </div>
</div>