<nav class="navbar">
    <div class="inner-wrapper">
      <div class="navbar__logo">
        <a routerLink="/homepage"><p style="font-family: cursive; font-size: 30px; text-decoration: none;">indianGram</p></a>
      </div>
      
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="search-box-wrapper">
          <input 
                type="text" 
                class="search-box center" 
                placeholder="Cerca"
                ngModel
                name="search">
          <i class="fa fa-search search-box-icon"></i>
        </div>
      </form>
  
      <ul class="main-nav">
        
        <li class="main-nav__nav-link" style="cursor: pointer;" routerLink="/homepage">
          <img src="../../../assets/icons/house-door.svg">
        </li>

        <li class="main-nav__nav-link main-nav__nav-link--notification" style="cursor: pointer;" routerLink="/chat">
          <img src="../../../assets/icons/chat-text.svg">
        </li>

        <li class="main-nav__nav-link" style="cursor: pointer;" routerLink="/posts/add">
          <img src="../../../assets/icons/plus-square.svg">
        </li>

        <li class="main-nav__nav-link" style="cursor: pointer;" routerLink="/notifications">
          <img src="../../../assets/icons/bell.svg">
        </li>

        <li class="main-nav__nav-link" style="cursor: pointer;" [routerLink]="['/profiles', idLoggedUser]">
          <img src="../../../assets/icons/person-circle.svg">    
        </li>

        <li class="main-nav__nav-link" style="cursor: pointer;" (click)="onLogout()">
          <img src="../../../assets/icons/box-arrow-right.svg">
        </li>

      </ul>
    </div>
  </nav>