@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$red: #ed4956;
$blue: #0095f6;
$default: #d1d5da;
$defaultBg: #2f363d;

@keyframes heartbeat {
	0% {
		transform: scale(.6);
	}
	25% {
		transform: scale(1.2);
	}
	40% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes heartbeatAlt {
	0% {
		transform: translate(-50%, -50%) scale(0);
	}
	25% {
		transform: translate(-50%, -50%) scale(1.2);
	}
	40% {
		transform: translate(-50%, -50%) scale(1);
	}
	60% {
		transform: translate(-50%, -50%) scale(1.2);
	}
	80% {
		transform: translate(-50%, -50%) scale(1);
	}
	100% {
		transform: translate(-50%, -50%) scale(0);
	}
}

* {
	box-sizing: border-box;
}

.contents{
	display: flex;
    justify-content: center;
}

.hidden {
	width: 0;
	height: 0;
	visibility: hidden;
	display: none;
	overflow: hidden;
}

html {
	font-size: 16px;
}

body {
	display: flex;
	padding: 0;
	margin: 0;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
	position: relative;
	background-color: lighten($default, 15%);
}

.challenge-title {
	text-align: center;
	padding: 0;
	margin: 1rem 0 0;
	color: $defaultBg;
	font-size: 2rem;
	font-weight: bold;
}

.challenge-subtitle {
	text-align: center;
	margin: 0;
	font-size: 1.125rem;
	font-weight: 400;
	color: darken($default, 10%);
}

.challenge-part-of {
	text-align: center;
	margin: 1rem 0 0;
	font-size: 0.875rem;
	color: darken($default, 10%);
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	a,
	a:visited {
		color: darken($default, 10%);
		text-decoration-style: wavy;
		&:hover,
		&:active {
			color: lighten(darken($default, 10%), 10%);
		}
	}
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.5rem;
	&:focus {
		outline: 1px dotted darken($default, 20%);
	}
	svg {
		fill: darken($default, 25%);
		width: 100%;
		height: 100%;
	}
}

.instalink,
.instalink:visited {
	margin-bottom: 0.25rem;
	color: $defaultBg;
	text-decoration: none;
	font-weight: bold;
	&:hover,
	&:active {
		text-decoration: underline;
	}
}

.instapost {
	margin: 2rem;
	width: 600px;
	background-color: white;
	border: 1px solid lighten($default, 5%);
	display: flex;
	flex-direction: column;
	line-height: 1.125rem;
	&__header {
		display: flex;
		align-items: center;
		padding: 1rem;
		.profile-img {
			img {
				object-fit: cover;
				width: 32px;
				height: 32px;
				border-radius: 50%;
			}
		}
		.profile-name {
			display: flex;
			flex-direction: column;
			margin-left: 0.875rem;
			a {
				font-size: 0.875rem;
			}
			a.location,
			a.location:active {
				color: lighten($defaultBg, 20%);
				text-decoration: none;
			}
		}
		.btn-more {
			margin: 0 0 0 auto;
		}
	}
	&__image {
		position: relative;
		.img {
			object-fit: cover;
			width: 100%;
			display: none;
			&.show {
				display: block;
			}
		}
		.like-heart {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: none;
			svg {
				fill: lighten($default, 20%);
				filter: drop-shadow(0 0 0.5rem $defaultBg);
			}
			&.show {
				display: block;
				animation: heartbeatAlt .8s linear forwards;
			}
		}
		.ctrl {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			button {
				width: 1.875rem;
				height: 1.875rem;
				font-size: 1.125rem;
				border: 0;
				border-radius: 50%;
				background-color: lighten($default, 10%);
				cursor: pointer;
				&:focus {
					outline: 0;
				}
			}
			&.hide {
				display: none;
			}
		}
		.ctrl-left {
			top: 0;
			left: 0;
			width: 3rem;
			height: 100%;
			cursor: pointer;
		}
		.ctrl-right {
			top: 0;
			right: 0;
			width: 3rem;
			height: 100%;
			cursor: pointer;
		}
	}
	&__action {
		display: flex;
		align-items: center;
		padding: 0 1rem;
		.btn {
			svg {
				fill: $defaultBg;
			}
		}
		.btn-like {
			.like-icon {
				display: block;
			}
			.dislike-icon {
				display: none;
				fill: $red;
			}
			&.dislike {
				.like-icon {
					display: none;
				}
				.dislike-icon {
					display: block;
					animation: heartbeat .8s linear; 
					fill: $red;
				}
			}
		}
		.btn-save {
			margin-left: auto;
		}
	}
	&__likes {
		color: lighten($defaultBg, 20%);
		font-size: 0.875rem;
		padding: 0 1rem;
		margin: 0 0 0.5rem;
	}
	&__description {
		color: lighten($defaultBg, 20%);
		font-size: 0.875rem;
		padding: 0 1rem;
	}
	&__comment-list,
	&__comment-list:visited {
		color: lighten($defaultBg, 30%);
		font-size: 0.875rem;
		padding: 0.5rem 1rem;
		text-decoration: none;
	}
	&__timestamp {
		color: lighten($defaultBg, 30%);
		text-transform: uppercase;
		font-size: 0.625rem;
		padding: 0 1rem 0.25rem;
	}
	&__add-comment {
		display: flex;
		align-items: center;
		padding: 0.25rem 1rem 0;
		border-top: 1px solid lighten($default, 10%);
		.btn-smiley {
			svg {
				fill: $defaultBg;
			}
		}
		textarea {
			flex: 1;
			border: 0;
			resize: none;
			&:focus {
				outline: 0;
			}
		}
		.btn-send-comment {
			color: $blue;
			width: auto;
			font-size: 0.875rem;
			font-weight: bold;
			&[disabled="disabled"] {
				cursor: default;
				opacity: 0.3;
			}
		}
	}
}